/* Add this to your RestaurantInfoPage.css */

/* Container for the whole layout */
.restaurant-info-large-container {
  display: flex;
  min-height: 100vh;
  padding-top: 50px;
}

/* Layout container on the left */
.restaurant-info-layout-container {
  position: sticky;
  top: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100vh; /* Full height */
}

/* Main content container on the right */
.restaurant-info-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
}

/* Content within the main container */
.restaurant-info-content {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-info-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.restaurant-info-centered-video {
  height: 80px; /* Adjust as needed */
  border-radius: 100%;
}

.restaurant-info-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.restaurant-info-form {
  width: 100%;
}

.restaurant-info-form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.restaurant-info-form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
}

.restaurant-info-form-input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.restaurant-info-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.restaurant-info-back-button,
.restaurant-info-submit-button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 48%; /* Adjust button width */
  text-align: center;
  border: none;
}

.restaurant-info-back-button {
  background-color: #6b7280; /* Gray color for back button */
}

@media (max-width: 768px) {
  .restaurant-info-large-container {
    flex-direction: column;
  }

  .restaurant-info-layout-container {
    width: 100%;
    height: 270px;
    position: static;
  }
  
  .restaurant-info-container {
    padding: 1rem;
  }
  
  .restaurant-info-content {
    padding: 1rem;
  }
}
